* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}
@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-Light.woff2") format("woff2"),
    url("./fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-medium";
  src: url("./fonts/Outfit-Medium.woff2") format("woff2"),
    url("./fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.main_container {
  background-color: #10141e;
  /* height: 100vh; */
}

#movies_list {
  display: flex;
  /* flex-flow: wrap; */
  flex-wrap: wrap;

  width: 100%;
  justify-content: center;
}

.image_box {
  width: 280px;
  /* height: 174px; */
  object-fit: cover;
  border-radius: 8px;
  position: relative;
}

.movie__img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
}

.movie_important_data {
  display: flex;
  flex-direction: column-reverse;
  color: #fff;
  margin-top: 10px;
}
.movie__name {
  color: #fff;
  font-size: 20px;
}

.movie {
  margin: 15px;
  background-color: #161d2f;
  border-radius: 2%;
}

.title {
  width: 253px;
  margin-top: 20px;
}
.movie__data {
  margin: 0 12px 20px;
}

.movie__rating {
  color: #fff;
  font-size: 20px;
}

.imdb_img {
  margin-right: 18px;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.movie__genre {
  margin-bottom: 5px;
}

.more {
  font-size: 24px;
  color: #10141e;
  position: absolute;
  top: 50%;
  left: 82px;
  transform: translateY(-50%);
  opacity: 0;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px;
  z-index: 100;
  transition: 0.4s;
  text-decoration: none;
  cursor: pointer;
}

.image_box:hover:after {
  content: "";
  width: 280px;
  background-color: #10141e82;
  position: absolute;
  height: 414px;
  z-index: 1;
  left: 0;
  transition: 0.4s;
}
.image_box:hover .more {
  opacity: 1;
}
