* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

.movie_container {
  background-color: #161d2f;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailed_container {
  display: flex;
  margin-left: 58px;
  background-color: #293657;
  height: 443px;
  border-radius: 20px;
}

.data_info {
  margin: 35px;
}

.data_description {
  width: 700px;
}

.image {
  width: 300px;
  /* height: 475px; */
  object-fit: contain;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
h2 {
  color: #fff;
}

p {
  font-size: 20px;
  color: #fff;
  line-height: 27px;
}

.data_genre {
  display: flex;
  color: #ffb9b9;
  margin: 20px;
}

li:nth-child(2) {
  margin-left: 40px;
}

.data_direct {
  margin-top: 65px;
}

.director {
  font-size: 20px;
  padding-bottom: 5px;
  color: #ffb9b9;
}
.writer {
  font-size: 20px;
  padding-bottom: 5px;
  color: #ffb9b9;
}

.data_writers {
  margin-top: 20px;
}

span {
  font-size: 20px;
  color: #fff;
}

span:nth-child(1) {
  font-size: 22px;
}

.data_title {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.data_title a {
  color: #ffb9b9;
}

._back {
  color: #fff;
  display: inline-block;
  margin: 20px 0 0 60px;
}

@media only screen and (max-width: 992px) {
  .detailed_image {
    background-color: #ececec;
    width: 299px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image {
    width: 131px;
    /* height: 201px; */
    object-fit: contain;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .data_info {
    margin: 35px;
  }
  .data_title {
    display: block;
  }
  .data_description {
    width: 230px;
  }
  .data_direct {
    display: none;
  }
  ._back {
    margin: 10px 0 0 0;
  }
  .detailed_container {
    display: block;
    margin-left: 0;
    height: unset;
    border-radius: unset;
    height: 544px;
  }
}
